.header {
  height: 56px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.brand {
  font-size: 28px;
  font-weight: 700;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  letter-spacing: -0.5px;
  padding: 4px 0;
  min-width: 130px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: var(--mantine-spacing-xs);
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  transition: all 150ms ease;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}

.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-8)
    );
  }
}

.userActive {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
}
